= dialog_tag('Audit Activity', {:icon => 'fa fa-calendar', :class => "form_part"}) do
  = f.simple_fields_for :activity do |i_f|
    = i_f.input :id, :as => :hidden
    .row
      .col-sm-3
        = i_f.input :start_date, :label => 'Audit Activity Start Date', :wrapper => :vertical_append do
          = i_f.input_field :start_date, :class => "form-control", :as => :string, :data => {'behavior' => 'datepicker'}, :value => format_as_date(i_f.object.start_date)
          %span.input-group-addon
            %i.fa.fa-calendar
      .col-sm-3
        = i_f.input :end_date, :label => 'Audit Activity End Date', :wrapper => :vertical_append do
          = i_f.input_field :end_date, :class => "form-control", :as => :string, :data => {'behavior' => 'datepicker'}, :value => format_as_date(i_f.object.end_date)
          %span.input-group-addon
            %i.fa.fa-calendar
      .col-sm-2
        = i_f.input :frequency_type_id, :collection => FrequencyType.active.map{|f| [f.description, f.id]}, :include_blank => false
      .col-sm-2
        = i_f.input :show_in_dashboard, :collection => [['No', false],['Yes', true]], :include_blank => false
      .col-sm-2
        = i_f.input :active, :collection => [['No', false],['Yes', true]], :include_blank => false
