= dialog_tag('Audit Activity', {:icon => 'fa fa-calendar', :class => "form_part"}) do
  = f.simple_fields_for :activity do |i_f|
    = i_f.input :id, :as => :hidden
    .row
      .col-sm-3
        = hidden_field_tag(:old_activity_start_date, format_as_date(i_f.object.start_date))
        = i_f.input :start_date, :label => 'Audit Activity Start Date', :wrapper => :vertical_append do
          = i_f.input_field :start_date, :class => "form-control datepicker", :as => :string, :data => {'date-container' => '#page'}, :value => format_as_date(i_f.object.start_date)
          %span.input-group-addon
            %i.fa.fa-calendar
      .col-sm-3
        = hidden_field_tag(:old_activity_end_date, format_as_date(i_f.object.end_date))
        = i_f.input :end_date, :label => 'Audit Activity End Date', :wrapper => :vertical_append do
          = i_f.input_field :end_date, :class => "form-control datepicker", :as => :string, :data => {'date-container' => '#page'}, :value => format_as_date(i_f.object.end_date)
          %span.input-group-addon
            %i.fa.fa-calendar
      .col-sm-3
        = i_f.input :show_in_dashboard, :collection => [['No', false],['Yes', true]], :include_blank => false
      .col-sm-3
        = i_f.input :active, :collection => [['No', false],['Yes', true]], :include_blank => false
