.hidden-md.hidden-sm.hidden-xs
  = format_field("Name", audit.name)
  -# = format_field("Schedule", link_to(audit.activity, activity_path(audit.activity))) if audit.activity.present?
  = format_field("Auditor", audit.auditor_class_name)
  %hr
  = format_field("Active", format_as_boolean(audit.active))
  = format_field("Data Update Start Date", format_as_date(audit.start_date))
  = format_field("Data Update End Date", format_as_date(audit.end_date))
  %hr
  = format_field("Operational", format_as_boolean(audit.operational?))
  = format_field("Audit Activity Start Date", format_as_date(audit.activity.start_date))
  = format_field("Audit Activity End Date", format_as_date(audit.activity.end_date))
  %hr
  = format_field("Last Run", format_as_date(audit.last_run))
  = format_field("Created On", format_as_date(audit.created_at))
  = format_field("Last Updated", format_as_date(audit.updated_at))
.hidden-lg
  .col-sm-4
    = format_field("Name", audit.name)
    -# = format_field("Activity", link_to(audit.activity, activity_path(audit.activity))) if audit.activity.present?
    = format_field("Auditor", audit.auditor_class_name)
  .col-sm-4
    = format_field("Active", format_as_boolean(audit.active))
    = format_field("Operational", format_as_boolean(audit.operational?))
  .col-sm-4
    = format_field("Last Run", format_as_date(audit.last_run))
    = format_field("Created On", format_as_date(audit.created_at))
    = format_field("Last Updated", format_as_date(audit.updated_at))
