:ruby
  table_dom_id = SecureRandom.hex



#table_actions.btn-toolbar
  = render :partial => "index_actions"




= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :table_code => 'audits',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => '{"0":{"name":"Organization","type":"drilldown-link","width":"10%"},
                    "1":{"name":"Audit Type","width":"12%"},
                    "2":{"name":"Type","width":"12%"},
                    "3":{"name":"Asset ID","width":"12%"},
                    "4":{"name":"Description","width":"8%"},
                    "5":{"name":"Result","width":"8%"},
                    "6":{"name":"Updated At","type":"right-align","width":"8%"},
                    "notes":{"name":"Notes","width":"12%"}}',
      :selected_columns => "0,1,2,3,4,5,6,notes",
      :cookies => "true",
      :sort => 'client',
      :params => "{}",
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}

  - audit_results.each_with_index do |a, index|
    - unless a.auditable.nil?
      :javascript
        add_row('#{table_dom_id}',
        {        
          "0": '#{h link_to a.organization.short_name, inventory_path(a.auditable) }',
          "1": '#{h a.audit }',
          "2": '#{h a.class_name }',
          "3": '#{h a.auditable.asset_tag }',
          "4": '#{h a.auditable.description }',
          "5": '#{h a.audit_result_type }',
          "6": '#{h format_as_date(a.updated_at) }',
          "notes": '#{h sanitize((a.notes || ""), tags:[]).gsub("\n", ' ') }',
        }, #{index});

= render :partial => 'shared/table_scripts', :locals => {:table_id => 'audit_results_table', :path_pattern => activity_path("xxx")}
