:ruby
  report = AuditResultsSummaryReport.new
  audits = Audit.active

:scss
  $warning-color: #D47500;

  .audit-result {
    margin-bottom: 0;
    background-color: lighten($warning-color, 40%);
  }

.panel.panel-default.dashboard-panel
  .panel-heading
    Audit Summary
  .panel-body
    - if audits.empty?
      %p.text-center No active audits found
    - else
      - org_data = Organization.where(id: @organization_list).pluck(:short_name, :id).to_h
      - audits.each do |audit|
        %p.text-center= "<strong>#{audit.name} Results</strong>".html_safe
        - audit_results = report.get_data(audit, @organization_list, Rails.application.config.asset_base_class_name, {disposition_date: nil},{})
        %table.table.table-hover#asset_compliance
          %tbody
            - audit_results[1].each do |row|
              - org_short_name = row[0]
              - org_id = org_data[org_short_name]
              %tr{:data => {:action_path => audit_results_path(:org_filter =>org_id, :fta_asset_category_filter => row[1], :audit_filter => audit.id, :audit_result_type_filter => AuditResultType::AUDIT_RESULT_FAILED)}}
                %td.left= org_short_name if @organization_list.length > 1
                %td.left= FtaAssetCategory.find(row[1]).try(:name) unless row[1].nil?
                %td.right.col-sm-6
                  - pcnt_passed = ((row[3] / row[2].to_f) * 100).truncate
                  .progress.audit-result
                    .progress-bar.progress-bar-success{:role => 'progressbar', :aria => {:value_now => pcnt_passed, :value_min => 0, :value_max => 100}, :style => "min-width: 2em; width: #{pcnt_passed}%"}
                      = "#{format_as_percentage(pcnt_passed)}"

